body {
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background-color: #FFFCFF;
  margin: 0;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 0.1em;
  background-color:#2E4756;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
}

#changeMonth{
  padding-right: 25%;
  display:flex;
  padding-top: 0.75rem;
}
#control-btns{
  display:flex;
  height: 1.5em;
}

#back-btn:hover{
  background-color: rgba(245, 244, 244, 0.25);
  border-radius: 5px;
  padding: 0.2em;
}
#front-btn:hover{
  background-color: rgba(245, 244, 244, 0.25);
  border-radius: 5px;
  padding: 0.2em;
}


#monthDisplay{
  color:white;
  padding-left: 1rem;
  width: 15em;
}

#container-btn{
  padding-left: 1em;
  padding-right: 1em;
  align-items: center;
  text-align: center;
  vertical-align: center;
  padding-top: 0.5em;
}

#profile-btn{
  width: 3em;
  height: 3em;
  padding-left: 1em;
  padding-right: 1em;
  align-items: center;
  text-align: center;
  vertical-align: center;
  padding-bottom:0.5em;
}

#menu-btn{
  width: 2.5em;
  height:2.5em;
  padding-left: 1em;
  padding-right: 1em;
  align-items: center;
  text-align: center;
  vertical-align: center;
}

#container{
  width:100%;
}

#container-calendar {
  width: 100%;
  height:100%;
}

#container-main{
  display:flex;
  margin:auto;
}

#container-sidebar{
  width: 25%;
  border-right: 2px solid #A0A0A0;
  background-color: white;
}

#addtask-container{
  align-items: center;
  text-align: center;
}

#project-text{
  align-items: center;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
}

#project-title{
  font-size: 1.3rem;
}

#description{
  color: #5B5757;
  font-size: 0.75rem;
  text-align: left;
}

#add-task-btn{
  margin-top: 2rem;
  background-color: #2E4756;
  color: white;
  border-radius: 40px;
  font-size: 1.25rem;
  width: 100px;
  padding: 0.5em;
  width: 6em;
}

#weekdays {
  width: 100%;
  display: flex;
  color: #5B5757;
  font-size: 1.25rem;
  align-items: center;
  text-align: center;
}
#weekdays div {
  align-items: center;
  text-align: center;
}

#weekday-box{
  height:2.25em;
  width: 14.28%;
  border: 1.5px solid #A0A0A0;
  background-color: #C4C4C4;
  padding-top: 0.5em;
  
}

#calendar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 14.28%;
  height: 8.2rem;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.day:hover {
  background-color: #f5f4f4;
}

.day + #currentDay {
  background-color:rgb(196, 196, 196, 0.4);
  color: #2E4756;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  background-color: #d36c6c;
}
#saveButton, #closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}
.modal-event{
  position:fixed;
  display: none;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal-content-event{
  background-color: #fefefe;
  padding: 30px;
  width: 40%;
  height: 65%;
  margin-top: 7.5%;
  margin-left: 30%;
  box-shadow: 0 5px 8px 0;
}